/*Basic Clases*/

.inline-block{
    display: inline-block;
}

.flex-wrap-row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}


@font-face{
    font-family: awesome;
    src: url("../fonts/fontawesome-free-5.5.0-web/webfonts/fa-solid-900.ttf")
}

/*End Of Base Clases*/

body{
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

.currency{
    font-size: 13px;
    color: #777;
    margin-left: 20%;
}

.login{
    font-size: 13px;
    color: #999999;
    padding: 0px 18px;
    margin-right: 50px;
}

.register{
    font-size: 13px;
    color: #999999;
}

.cart{
    font-size: 13px;
    color: #ffffff;
    background-color: #00d1d1;
    display: inline-block;
    padding: 16px;
}

.topnav{
    background-color: #333;
    width: 100%;
    min-height: 45px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.userArea{
    margin-right: 20%;
}


@media only screen and (max-width: 740px) {
    .userArea{
        margin-right: 10%;
    }

    .currency{
        margin-left: 10%;
    }

    .lookbooks{
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
    }

    .book{
        width: 75% !important;
        margin: 20px auto !important;
    }

    .text{
        position: absolute;
        right: 10%;
        top: 10%;
        font-size: 7vw !important;
        text-transform: uppercase;
        font-family: 'monsebold';
        color: #575153;
    }
    
    .text2{
        position: absolute;
        right: 10%;
        top: 25% !important;
        font-size: 7vw !important;
        text-transform: uppercase;
        font-family: 'monseregular';
        color: #575153;
    }
    
    .text3{
        position: absolute;
        right: 10%;
        top: 40% !important;
        font-size: 2vw !important;
        line-height: 1.6;
        text-transform: uppercase;
        font-family: 'monseregular';
        color: #575153;
        width: 50%;
        text-align: right;
    }
    
    .link{
        font-size: 3vw !important;
        font-family: 'monseregular';
        color: #575153;
        text-transform: uppercase;
        background-color: #f8f8f8;
        border: 1px solid #575153;
        padding: 3vw 4.5vw !important;
        letter-spacing: 0.3vw;
        position: absolute;
        top: 75% !important;
        right: 10%;
    }
    
    .link:hover{
        font-size: 1vw;
        font-family: 'monseregular';
        color: #ffffff;
        text-transform: uppercase;
        background-color: #00d1d1;
        border: none;
        padding: 3vw 4.5vw !important;
        letter-spacing: 0.3vw;
        position: absolute;
        top: 75% !important;
        right: 10%;
    }
}

@media only screen and (max-width: 571px) {
    .userArea{
        margin-right: 5%;
    }

    .currency{
        margin-left: 5%;
    } 

    .awward-winner{
        font-size: 24px !important;
    }
}

@media only screen and (max-width: 490px) {
    .userArea{
        margin-right: 1%;
    }

    .currency{
        margin-left: 1%;
    }

    .popular-content{
        display: flex !important;
        flex-wrap: wrap !important;
        flex-direction: column !important;
    }

    .content-column1{
        width: 100% !important;
    }

    .content-column2{
        width: 100% !important;
    }

    .social-images{
        display: flex;
        justify-content: center;
    }
}


@media only screen and (max-width: 489px) {
    .topnav{
        justify-content: center;
        flex-direction: column;
    }

    .currency{
        padding: 10px 0px;
        margin-left: 0%;
    }

    .userArea{
        margin-right: 0%;
    }

    .awward-winner{
        font-size: 20px !important;
    }

    .social-images{
        display: flex;
        flex-wrap: wrap;
    }
}


@media only screen and (max-width: 300px) {
    .topnav{
        justify-content: center;
        flex-direction: column;
    }

    .currency{
        padding: 7px 0px;
        margin-left: 0%;
    }

    .userArea{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .login{
        padding-bottom: 5px;
        padding-left: 65px;
    }

    .register{
        text-align: center;
        padding-bottom: 5px;
    }

    .cart{
        font-size: 13px;
        color: #ffffff;
        background-color: #00d1d1;
        display: inline-block;
        padding: 15px 40px;
        text-align: center;
    }
}

.main{
    background-color: #f8f8f8;
    position: relative;
    width: 100%;
    min-width: 240px;
    min-height: 460px;
    z-index: 10;
    display: flex;
    justify-content: center;
}

.slider-image{
    position: absolute;
    background-image: url('../imgs/slider-new.png');
    left: 20%;
    height: 460px;
    top: 0px;
    margin: 0;
    padding: 0;
    z-index: 20;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.ave-big{
    position: absolute;
    width: 100%;
    z-index: 30;
    font-size: 17vw;
    font-family: 'proxy';
    color: #575153;
    top: 20%;
    text-align: center;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-transform: uppercase;
    justify-content: space-around;
}

.topbox{
    width: 100%;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    z-index: 40;
    margin: 45px auto;
}

.navlist{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-transform: uppercase;
}

.title{
    text-transform: uppercase;
    font-family: 'monsebold';
    font-size: 20px;
}

.title a{
    text-decoration: none;
    color: #222;
}

.spantitle{
    font-family: 'monseregular';
    font-weight: 500;
}

.navanchor a{
    display: flex;
    flex-direction: column;
    margin: 0px 10px;
    text-decoration: none;
    color: #333;
}

.navanchor a:hover {
    text-decoration: none;
    color: #00d1d1;
}

input[type=text]{
    background-color: #f8f8f8;
    border: 1px solid #a7a7a7;
    font-size: 13px;
}

button[type=submit]{
    background-color: #f8f8f8;
    border: 1px solid #a7a7a7;
}

.button-text{
    text-transform: uppercase;
    color: #737373;
    position: absolute;
    z-index: 75;
    right: 15%;
    bottom: 10%;
    font-size: 15px;
    font-family: 'monseregular';
    border: 1.2px solid #737373;
    padding: 15px 35px;
    cursor: pointer;
}

.button-text a{
    color: #737373;
    text-decoration: none;
}


@media only screen and (max-width: 980px){
    .search{
        display: none;
    }

    .navigation{
        display: none;
    }

    .title{
        left: 15%;
    }

    .topbox{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
    }

    .responsive-menu, .responsive-menu a{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .menu-dropdown, .fa-bars{
        text-transform: uppercase;
        font-family: 'monseregular';
        display: flex;
        flex-direction: row;
        padding: 0px 5px;
        color: #333;
        float: right;
    }

    .footer-links{
        margin: auto 2% !important;
    }

    .footer-images{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .awward-winner, .social-icons{
        margin: 30px auto;
        width: 65% !important;
    }

}

@media only screen and (min-width: 981px){
    .responsive-menu{
        display: none;
    }
}


@media only screen and (max-width: 868px){
    .main{
        position: relative;
    }

    .button-text{
        background-color: #f8f8f8;
    }

    .footer-links{
        display: flex !important;
        flex-wrap: wrap !important;
        flex-direction: row  !important;
        justify-content: center  !important;
        padding-top: 60px  !important;
        margin-right: 10%  !important;
        margin-left: 10%  !important;
        justify-content: space-around !important;
    }

    .information, .why-buy, .account, .lookbook-footer, .contact{
        width: 30%  !important;
        margin-bottom: 50px !important;
    }
}

@media only screen and (max-width: 538px){
    .topbox{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
    }

    .title{
        padding: 0px;
    }

    .footer-links{
        display: flex !important;
        flex-wrap: wrap !important;
        flex-direction: row  !important;
        justify-content: center  !important;
        padding-top: 60px  !important;
        margin-right: 10%  !important;
        margin-left: 10%  !important;
        justify-content: space-around !important;
    }

    .information, .why-buy, .account, .lookbook-footer, .contact{
        width: 45%  !important;
        margin-bottom: 50px !important;
    }
}


@media only screen and (max-width: 392px){
    .slider-image{
        left: 0%;
    }

    .promote-button{
        left: 5%;
    }

    .footer-links{
        display: flex !important;
        flex-wrap: wrap !important;
        flex-direction: row  !important;
        justify-content: center  !important;
        padding-top: 60px  !important;
        margin-right: 10%  !important;
        margin-left: 10%  !important;
        justify-content: space-around !important;
    }

    .information, .why-buy, .account, .lookbook-footer, .contact{
        width: 75%  !important;
        margin-bottom: 50px !important;
    }
}

/* header part ended : */

/* items part below */

.tabs{
    position: relative;
    height: auto;
    width: 90%;
    margin: 60px 5%;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}

.tab label{
    background-color: #ffffff;
    color: #333;
    text-transform: uppercase;
    font-family: 'monseregular';
    margin: 25px;
    position: relative;
}

.tab label:hover{
    color: #00d1d1;
    cursor: pointer;
}

.tab label:active{
    color: #00d1d1;
}

input[type=radio]{
    display: none;
}

.content{
    position: absolute;
    top: 90px;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px;
    opacity: 0;
    height: auto;
}

[type=radio]:checked ~ label {
    background: white;
    z-index: 2;

}
[type=radio]:checked ~ label ~ .content {
    z-index: 1;
    opacity: 1;
}

.popular-content{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    height: auto;
}

.content-column1, .content-column2{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 49%;
}

.item-images{
    position: relative;
    max-width: 420px;
    max-height: 500px;
    height: auto;
    width: 48%;
    margin-bottom: 20px;
}

.item-images-big{
    position: relative;
    width: 100%;
    max-width: 870px;
    max-height: 705px;
    height: auto;
    margin-bottom: 20px;
}

/* .small-images{
    display: flex;
    justify-content: space-between;
} */

.lookbooks{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.book{
    position: relative;
    display: inline-block;
    width: 30%;
    height: auto;
}

.lookimages{
    width: 100%;
    height: auto;
}

.text{
    position: absolute;
    right: 10%;
    top: 10%;
    font-size: 2.6vw;
    text-transform: uppercase;
    font-family: 'monsebold';
    color: #575153;
}

.text2{
    position: absolute;
    right: 10%;
    top: 22%;
    font-size: 2.6vw;
    text-transform: uppercase;
    font-family: 'monseregular';
    color: #575153;
}

.text3{
    position: absolute;
    right: 10%;
    top: 35%;
    font-size: 0.7vw;
    line-height: 1.6;
    text-transform: uppercase;
    font-family: 'monseregular';
    color: #575153;
    width: 50%;
    text-align: right;
}

.link{
    font-size: 1vw;
    font-family: 'monseregular';
    color: #575153;
    text-transform: uppercase;
    background-color: #f8f8f8;
    border: 1px solid #575153;
    padding: 1.5vw 2vw;
    letter-spacing: 0.3vw;
    position: absolute;
    top:  65%;
    right: 10%;
}

.link:hover{
    font-size: 1vw;
    font-family: 'monseregular';
    color: #ffffff;
    text-transform: uppercase;
    background-color: #00d1d1;
    border: none;
    padding: 1.5vw 2vw;
    letter-spacing: 0.3vw;
    position: absolute;
    top: 65%;
    right: 10%;
}

/* footer */

.footer{
    margin-top: 60PX;
    background-color: #f8f8f8;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    font-family: 'monseregular';
    font-size: 13px;
    color: #727272;
}

.footer-links{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding-top: 60px;
    margin-right: 10%;
    margin-left: 10%;
}

.information, .why-buy, .account, .lookbook-footer, .contact{
    width: 20%;
}

.footer-nav-li{
    margin-bottom: 13px;
    cursor: pointer;
}

.footer-images{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 20px 10%;
}

.awward-winner{
    font-size: 36px;
    display: inline-block;
    width: 45%;
    height: 200px;
    background-color: #222222;
    color: #ffffff;
    letter-spacing: 3px;
    font-family: 'monsebold';
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    justify-content: center;
    line-height: 1.45;
}

.social-icons{
    width: 45%;
    max-height: 200px;
    min-height: 100px;
    height: auto;
    background-color: #00d1d1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-images{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.social-images a{
    color: #f8f8f8;
    font-size: 30px;
}

.author{
    width: 100%;
    min-height: 40px;
    height: auto;
    background-color: #222222;
    color: #a7a7a7;
    font-size: 18px;
    font-family: 'monseregular';
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer-author{
    width: 80%;
    height: inherit;
    min-height: inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 30px;
}